/*--------------------------------------------------------------
# testimonials2
--------------------------------------------------------------*/
.testimonials22 .section-header {
  margin-bottom: 40px;
}

.testimonials2 .testimonials2-carousel,
.testimonials2 .testimonials2-slider {
  overflow: hidden;
}

.testimonials2 .testimonial-item {
  text-align: center;
}



/* .testimonials2 .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
} */

/* .testimonials2 .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
} */

/* .testimonials2 .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
} */

.testimonials2 .testimonial-item .quote-icon-left,
.testimonials2 .testimonial-item .quote-icon-right {
  color: #c8efea;
  font-size: 26px;
}

.testimonials2 .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials2 .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

/* .testimonials2 .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
} */

/* @media (min-width: 992px) {
  .testimonials2 .testimonial-item p {
    width: 80%;
  }
} */

.testimonials2 .swiper-pagination {
  margin-top: 20px;
  position: relative;
  margin-top: 40px;
}

.testimonials2 .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #17b6ef;
}

.testimonials2 .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #17b6ef;
}